<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Will Gaechter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortfolioWebsite.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="nav navbar-expand justify-content-center" id="MainNavbar">
            <div class="container">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Resume">Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact</a>
                        </li>
                    </ul>
            </div>
        </nav>
        <!--Linkedin, Github, and Gmail icon.svg links-->
        <nav class="nav navbar-expand justify-content-center" id="IconNavbar">
            <div class="container">
                <ul class="navbar-nav flex-grow-1 justify-content-center">
                    <li class="nav-item" id="Linkedin">
                        <a href="https://www.linkedin.com/in/williamgaechter/"><img src="~/lib/static/LinkedIn_icon72x72.svg" height="20" width="20" /></a>
                    </li>
                    <li class="nav-item" id="Github">
                        <a href="https://github.com/wgaechter"><img src="~/lib/static/github-mark.svg" height="20" width="20" /></a>
                    </li>
                    <li class="nav-item" id="Gmail">
                        <a href="mailto:will.gaechter@gmail.com"><img src="~/lib/static/Gmail_icon_(2020).svg" height="20" width="20" /></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - William Gaechter - Data Analyst and Enigineer - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>