<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Will Gaechter - Portfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortfolioWebsite.styles.css" asp-append-version="true" />
    <link rel="icon" href="images/favicon.png" type="image/png" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.15.1/devicon.min.css" />
</head>
<body>
    <header>
        <div id="headerName_container">
            <strong>
                <span id="headerName_text">William Joseph Gaechter</span>
            </strong>
            <span id ="headerName_title">Data Analyst and Engineer</span>
        </div>
        <!--Linkedin, Github, and Gmail icon.svg links-->
        <nav class="nav navbar-expand justify-content-center" id="IconNavbar">
            <div class="container">
                <ul class="navbar-nav flex-grow-1 justify-content-center">
                    <li class="nav-item icon" id="Linkedin">
                        <a href="https://www.linkedin.com/in/williamgaechter/"><img src="~/lib/static/LinkedIn_icon72x72.svg" height="20" width="20" /></a>
                    </li>
                    <li class="nav-item icon" id="Github">
                        <a href="https://github.com/wgaechter"><img src="~/lib/static/github-mark.svg" height="20" width="20" /></a>
                    </li>
                    <li class="nav-item icon" id="LeetCode">
                        <a href="https://leetcode.com/u/wgaechter/"><img src="~/lib/static/leetcode.svg" height="20" width="20" /></a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="nav navbar-expand justify-content-center" id="MainNavbar">
            <div class="container">
                    <ul class="navbar-nav flex-grow-1 justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Resume">Resume</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Contact">Contact</a>
                        </li>
                    </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="container">
            &copy; 2024 - William Gaechter - Data Analyst and Enigineer <a href="#" id="swissMode"><img src="~/lib/static/Flag_of_Switzerland.svg" height="15" width="15" /></a>

        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>