html {
    font-size: 14px;
    font-family: Cambria, serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Cambria, serif;
}

header {
    margin-bottom: 30px;
}

h1 {
    font-weight: 500;
}

/*Header Navbar*/


li.nav-item {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
}

a.nav-link {
    font-size: 30px;
}

.navbar-nav > li {
    float: left;
    position: relative;
}

.navbar-light .navbar-nav .active a::after {
    border-bottom: 5px solid #5bc0eb;
    bottom: -10px;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
}

#headerName {
    margin-top: 20px;
}

/*Linebreak*/

p.Linebreak {
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: .75pt;
    margin-left: 1.25in;
    text-indent: 0in;
    line-height: 103%;
    font-size: 15px;
    font-family: "Cambria",serif;
    color: black;
}

/*Technical Skills*/

p.TechnicalSkills_ListHeader {
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: .75pt;
    margin-left: 85px;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
    font-family: "Cambria",serif;
    color: black;
}

ul.Resume_List {
    list-style-type: square;
    margin-left: 0.75in;
}

span.TechnicalSkills_Listpoint {
    line-height: 103%;
    font-size: 13px;
}

/*Experience*/

h2.jobHeaderContainer {
    display: block;
    margin-top:8px;
    margin-right:0in;
    margin-bottom:0in;
    margin-left:0in;
    
    text-indent:0in;
    line-height:103%;
    font-size:13px;
    color:black;
}

span.jobYears {
    float: left;
    margin-left: 0px;
    width: 85px;
}

span.jobCompanyName {

}

span.jobLocation {
    float: right;
}

span.jobTitle {
    margin-left: 85px;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
}

ul.jobDescription {
    list-style-type: square;
    margin-left: 0.75in;
    font-size: 13px;
}


/*Education*/
h2.eduHeaderContainer {
    display: block;
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0in;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
    color: black;
}

span.eduYears {
    float: left;
    margin-left: 0px;
    width: 85px;
}

span.eduSchoolName {
}

span.eduLocation {
    float: right;
}

span.eduProgram {
    margin-left: 85px;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
}

ul.eduDescription {
    list-style-type: square;
    margin-left: 0.75in;
    font-size: 13px;
    margin-top: 0in;
    margin-bottom: 0in;
}

span.eduGrad {
    margin-left: 85px;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
}

/*PROJECTS*/

