:root {
    --color_1: #fffff0; /*Ivory*/
    --color_2: #99CC99; /*Green*/
    --color_3: #CC3333; /*Red*/
    --color_4: #336699; /*Blue*/
    --color_5: #009999; /*Turquoise*/
}

html {
    font-size: 14px;
    font-family: Cambria, serif;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Cambria, serif;
    background-color: var(--color_1);
}

header {
    background-color: var(--color_1);
    margin-bottom: 30px;
}

footer {
    border-top: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--color_2) 0, var(--color_2) 33%, var(--color_4) 33%, var(--color_4) 66%, var(--color_3) 66%, var(--color_3) 100%);
}

h1 {
    font-weight: 500;
}

div#headerName_container {
    margin-top: .25in;
    margin-right: 1in;
    margin-bottom: 10px;
    margin-left: 1in;
    text-align: center;
}

span#headerName_text {
    text-indent: 0in;
    line-height: 103%;
    font-size: 32px;
    font-family: "Cambria",serif;
    color: black;
    margin: 0in;
    text-align: center;
}

/*Header Navbar*/

a.nav-link {
   font-size: 30px;
   color: black;
   margin-left: 10px;
   margin-right: 10px;
}

    a.nav-link:hover {
        color: var(--color_4);
    }

#headerName {
    margin-top: 20px;
}

/*Icon Navbar*/

nav#IconNavbar {

}

li.nav-item.icon {
    margin-left: 10px;
    margin-right: 10px;
}



/*Linebreak*/

p.Linebreak {
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: .75pt;
    margin-left: 1.25in;
    text-indent: 0in;
    line-height: 103%;
    font-size: 15px;
    font-family: "Cambria",serif;
    color: black;
}

/*Technical Skills*/

p.TechnicalSkills_ListHeader {
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: .75pt;
    margin-left: 85px;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
    font-family: "Cambria",serif;
    color: black;
}

ul.Resume_List {
    list-style-type: square;
    margin-left: 0.75in;
    margin-right: 120px;
}

span.TechnicalSkills_Listpoint {
    line-height: 103%;
    font-size: 13px;
}

/*Experience*/

h2.jobHeaderContainer {
    display: block;
    margin-top:8px;
    margin-right:0in;
    margin-bottom:0in;
    margin-left:0in;
    
    text-indent:0in;
    line-height:103%;
    font-size:13px;
    color:black;
}

span.jobYears {
    float: left;
    margin-left: 0px;
    width: 85px;
}

span.jobCompanyName {

}

span.jobLocation {
    float: right;
}

span.jobTitle {
    margin-left: 85px;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
}

ul.jobDescription {
    list-style-type: square;
    margin-left: 0.75in;
    margin-right: 120px;
    font-size: 13px;
}


/*Education*/
h2.eduHeaderContainer {
    display: block;
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0in;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
    color: black;
}

span.eduYears {
    float: left;
    margin-left: 0px;
    width: 85px;
}

span.eduSchoolName {
}

span.eduLocation {
    float: right;
}

span.eduProgram {
    margin-left: 85px;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
}

ul.eduDescription {
    list-style-type: square;
    margin-left: 0.75in;
    font-size: 13px;
    margin-top: 0in;
    margin-bottom: 0in;
    margin-right: 120px;
}

span.eduGrad {
    margin-left: 85px;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
}

/*PROJECTS*/

div.row {
    justify-content: center;
}

div.repoHolder {
    opacity: 0;
    text-align: center;
    height: 2in;
    width: 3.5in;
    margin: 20px;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

div.repo {
    padding: 10px;
    text-align: center;
    height: 2in;
    width: 3.5in;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 5px;
    transition: box-shadow 1s ease;
    position: relative;
    background-color: rgba(255,255,240, 1);
    background-clip: padding-box;
    border: solid 4px transparent;
    border-radius: 0.8rem;
}

div.repo:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -4px; /* same as border width */
    border-radius: inherit; /* inherit container box's radius */
    background: transparent;
    background-image: linear-gradient(150deg, var(--color_2), var(--color_4));
}


div.repo:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h3.repo {
    margin-bottom: 12px;
}

p.repo {
    height: 50px;
    max-height: 50px;
}

.Lang_icon {
    color: black;
    white-space: nowrap;
    text-decoration: none;
    padding-right: 10px;
}

/*Contact Page*/

td {
    padding: 10px;
}

textarea {
    resize: none;
}

.ContactHeader {
    text-align: center;
}

