:root {
    --color_1: #fffff0; /*Ivory*/
    --color_2: #99CC99; /*Green*/
    --color_3: #CC3333; /*Red*/
    --color_4: #336699; /*Blue*/
    --color_5: #009999; /*Turquoise*/
}

html {
    font-size: 14px;
    font-family: Cambria, serif;
    
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: Cambria, serif;
    background-color: var(--color_1);
}

header {
    background-color: var(--color_1);
    margin-bottom: 30px;
}

footer {
    border-top: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, var(--color_2) 0, var(--color_2) 33%, var(--color_4) 33%, var(--color_4) 66%, var(--color_3) 66%, var(--color_3) 100%);
}

h1 {
    font-weight: 500;
}

div#headerName_container {
    margin-top: .25in;
    margin-right: 1in;
    margin-bottom: 10px;
    margin-left: 1in;
    text-align: center;
}

span#headerName_text {
    text-indent: 0in;
    line-height: 103%;
    font-size: 32px;
    font-family: "Cambria",serif;
    color: black;
    margin: 0in;
    text-align: center;
}

/*Header Navbar*/

a.nav-link {
   font-size: 30px;
   color: black;
   margin-left: 10px;
   margin-right: 10px;
}

    a.nav-link:hover {
        color: var(--color_4);
    }

#headerName {
    margin-top: 20px;
}

/*Icon Navbar*/

nav#IconNavbar {

}

li.nav-item.icon {
    margin-left: 10px;
    margin-right: 10px;
}



/*Linebreak*/

p.Linebreak {
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: .75pt;
    margin-left: 1.25in;
    text-indent: 0in;
    line-height: 103%;
    font-size: 15px;
    font-family: "Cambria",serif;
    color: black;
}

/*Index Page*/

.ArticleContainer {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.article {
    display: grid;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.article:hover {
    -webkit-transform: translate(0px, -5px);
    -ms-transform: translate(0px, -5px);
    transform: translate(0px, -5px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.articleImg {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.info-block {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.Title {
    font-size: 1.5em;
    margin: 0px;
}

.Subtitle {
    font-size: 1.2em;
    margin: 5px 0;
    color: #666;
}

.Content {
    flex-grow: 1;
    position: relative;
    max-height: 150px;
    overflow: hidden;
}

    .Content:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50px;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    }

.btn-primary {
    align-self: flex-start;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }


/*Technical Skills*/

p.TechnicalSkills_ListHeader {
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: .75pt;
    margin-left: 85px;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
    font-family: "Cambria",serif;
    color: black;
}

ul.Resume_List {
    list-style-type: square;
    margin-left: 0.75in;
    margin-right: 120px;
}

span.TechnicalSkills_Listpoint {
    line-height: 103%;
    font-size: 13px;
}

/*Experience*/

h2.jobHeaderContainer {
    display: block;
    margin-top:8px;
    margin-right:0in;
    margin-bottom:0in;
    margin-left:0in;
    
    text-indent:0in;
    line-height:103%;
    font-size:13px;
    color:black;
}

span.jobYears {
    float: left;
    margin-left: 0px;
    width: 85px;
}

span.jobCompanyName {

}

span.jobLocation {
    float: right;
}

span.jobTitle {
    margin-left: 85px;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
}

ul.jobDescription {
    list-style-type: square;
    margin-left: 0.75in;
    margin-right: 120px;
    font-size: 13px;
}


/*Education*/
h2.eduHeaderContainer {
    display: block;
    margin-top: 0in;
    margin-right: 0in;
    margin-bottom: 0in;
    margin-left: 0in;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
    color: black;
}

span.eduYears {
    float: left;
    margin-left: 0px;
    width: 85px;
}

span.eduSchoolName {
}

span.eduLocation {
    float: right;
}

span.eduProgram {
    margin-left: 85px;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
}

ul.eduDescription {
    list-style-type: square;
    margin-left: 0.75in;
    font-size: 13px;
    margin-top: 0in;
    margin-bottom: 0in;
    margin-right: 120px;
}

span.eduGrad {
    margin-left: 85px;
    text-indent: 0in;
    line-height: 103%;
    font-size: 13px;
}

/*Resume Download Button*/

#resumeDownload_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

.download-resume {
    --color: #fff;
    --background: #404660;
    --background-hover: #3A4059;
    --background-left: #2B3044;
    --folder: #F3E9CB;
    --folder-inner: #BEB393;
    --paper: #FFFFFF;
    --paper-lines: #BBC1E1;
    --paper-behind: #E1E6F9;
    --pencil-cap: #fff;
    --pencil-top: #275EFE;
    --pencil-middle: #fff;
    --pencil-bottom: #5C86FF;
    --shadow: rgba(13, 15, 25, .2);
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    padding: 17px 29px 17px 69px;
    transition: background 0.3s;
    color: var(--color);
    background: var(--bg, var(--background));
}

    .download-resume > div {
        top: 0;
        left: 0;
        bottom: 0;
        width: 53px;
        position: absolute;
        overflow: hidden;
        border-radius: 5px 0 0 5px;
        background: var(--background-left);
    }

        .download-resume > div .folder {
            width: 23px;
            height: 27px;
            position: absolute;
            left: 15px;
            top: 13px;
        }

            .download-resume > div .folder .top {
                left: 0;
                top: 0;
                z-index: 2;
                position: absolute;
                transform: translateX(var(--fx, 0));
                transition: transform 0.4s ease var(--fd, 0.3s);
            }

                .download-resume > div .folder .top svg {
                    width: 24px;
                    height: 27px;
                    display: block;
                    fill: var(--folder);
                    transform-origin: 0 50%;
                    transition: transform 0.3s ease var(--fds, 0.45s);
                    transform: perspective(120px) rotateY(var(--fr, 0deg));
                }

            .download-resume > div .folder:before, .download-resume > div .folder:after,
            .download-resume > div .folder .paper {
                content: "";
                position: absolute;
                left: var(--l, 0);
                top: var(--t, 0);
                width: var(--w, 100%);
                height: var(--h, 100%);
                border-radius: 1px;
                background: var(--b, var(--folder-inner));
            }

            .download-resume > div .folder:before {
                box-shadow: 0 1.5px 3px var(--shadow), 0 2.5px 5px var(--shadow), 0 3.5px 7px var(--shadow);
                transform: translateX(var(--fx, 0));
                transition: transform 0.4s ease var(--fd, 0.3s);
            }

            .download-resume > div .folder:after,
            .download-resume > div .folder .paper {
                --l: 1px;
                --t: 1px;
                --w: 21px;
                --h: 25px;
                --b: var(--paper-behind);
            }

            .download-resume > div .folder:after {
                transform: translate(var(--pbx, 0), var(--pby, 0));
                transition: transform 0.4s ease var(--pbd, 0s);
            }

            .download-resume > div .folder .paper {
                z-index: 1;
                --b: var(--paper);
            }

                .download-resume > div .folder .paper:before, .continue-application > div .folder .paper:after {
                    content: "";
                    width: var(--wp, 14px);
                    height: 2px;
                    border-radius: 1px;
                    transform: scaleY(0.5);
                    left: 3px;
                    top: var(--tp, 3px);
                    position: absolute;
                    background: var(--paper-lines);
                    box-shadow: 0 12px 0 0 var(--paper-lines), 0 24px 0 0 var(--paper-lines);
                }

                .download-resume > div .folder .paper:after {
                    --tp: 6px;
                    --wp: 10px;
                }

        .download-resume > div .pencil {
            height: 2px;
            width: 3px;
            border-radius: 1px 1px 0 0;
            top: 8px;
            left: 105%;
            position: absolute;
            z-index: 3;
            transform-origin: 50% 19px;
            background: var(--pencil-cap);
            transform: translateX(var(--pex, 0)) rotate(35deg);
            transition: transform 0.4s ease var(--pbd, 0s);
        }

            .download-resume > div .pencil:before, .download-resume > div .pencil:after {
                content: "";
                position: absolute;
                display: block;
                background: var(--b, linear-gradient(var(--pencil-top) 55%, var(--pencil-middle) 55.1%, var(--pencil-middle) 60%, var(--pencil-bottom) 60.1%));
                width: var(--w, 5px);
                height: var(--h, 20px);
                border-radius: var(--br, 2px 2px 0 0);
                top: var(--t, 2px);
                left: var(--l, -1px);
            }

            .download-resume > div .pencil:before {
                -webkit-clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
                clip-path: polygon(0 5%, 5px 5%, 5px 17px, 50% 20px, 0 17px);
            }

            .download-resume > div .pencil:after {
                --b: none;
                --w: 3px;
                --h: 6px;
                --br: 0 2px 1px 0;
                --t: 3px;
                --l: 3px;
                border-top: 1px solid var(--pencil-top);
                border-right: 1px solid var(--pencil-top);
            }

    .download-resume:before, .download-resume:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 2px;
        border-radius: 1px;
        background: var(--color);
        transform-origin: 9px 1px;
        transform: translateX(var(--cx, 0)) scale(0.5) rotate(var(--r, -45deg));
        top: 26px;
        right: 16px;
        transition: transform 0.3s;
    }

    .download-resume:after {
        --r: 45deg;
    }

    .download-resume:hover {
        --cx: 2px;
        --bg: var(--background-hover);
        --fx: -40px;
        --fr: -60deg;
        --fd: .15s;
        --fds: 0s;
        --pbx: 3px;
        --pby: -3px;
        --pbd: .15s;
        --pex: -24px;
    }

/*PROJECTS*/

.projectsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px; /* Adjust as necessary */
}

.repoHolder {
    width: 300px; /* Adjust as necessary */
    height: 200px;
    padding: 10px;
    position: relative;
    background-color: #fff;
    border: 2px solid currentColor;
    border-color: #323232;
    box-shadow: 4px 4px #323232;
    border-radius: 8px;
}

    .repoHolder:hover {
        -webkit-transform: translate(0px, -5px);
        -ms-transform: translate(0px, -5px);
        transform: translate(0px, -5px);
        -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
        cursor: pointer;
    }

.cornerIcon {
    position: absolute;
    top: -12px;
    left: -15px;
    font-size: 36px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid currentColor;
    background-color: #fff; /* Optional: Background color for contrast */
    
}

    .cornerIcon svg {
        color: inherit; /* Ensures the icon takes the parent's color */
        width: 36px; /* Adjust as necessary */
        height: 36px; /* Adjust as necessary */
        z-index: 1;
    }

h3.repo  {
    padding-left: 36px;
}

p.repo {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    height: auto;
}

.lang_container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 10px; /* Adjust as necessary */
    left: 0;
    right: 0;
}

.Lang_icon {
    margin: 0 5px; /* Adjust spacing between icons as necessary */
    font-size: 24px;
}

/*Contact Page*/

#contactForm_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 10px;
}

form {
    width: 50%;
}

td {
    padding: 10px;
}

textarea {
    resize: none;
}

.ContactHeader {
    text-align: center;
}

/*NewArticleForm*/

/* Form Container */
#NewArticleForm {
    width: 50%;
    max-width: 1000px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: ivory;
    background-image: url('https://www.publicdomainpictures.net/pictures/120000/nahled/ivory-paper.jpg'); /* Optional: Adds a paper texture background */
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: inherit; /* Uses the default font of the DOM */
}
    /* Form Group */

    #NewArticleForm div {
        margin-bottom: 15px;
    }
    /* Form Labels */

    #NewArticleForm label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }
    /* Form Inputs */

    #NewArticleForm input[type="text"], form input[type="file"], form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        font-size: 16px;
        font-family: inherit; /* Uses the default font of the DOM */
    }
    /* Textarea */

    #NewArticleForm textarea {
        height: 150px;
    }
    /* Submit Button */

    #NewArticleForm button[type="submit"] {
        width: 100%;
        padding: 10px;
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-family: inherit; /* Uses the default font of the DOM */
    }

        #NewArticleForm button[type="submit"]:hover {
            background-color: #45a049;
        }

div.DBarticles {
    width: auto;
}

ul.DBarticles {
    list-style-type: none;
    padding: 0;
}

li.DBarticles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.buttons {
    display: flex;
    gap: 10px;
}

    .buttons button {
        cursor: pointer;
        padding: 2px;
    }

form.articleButtons {
    padding: 2px;
}

.update-btn {
    background-color: var(--color_4);
    color: black;
}

.delete-btn {
    background-color: var(--color_3);
    color: black;
}

/*Login for New Article*/

#loginUsername, #loginPassword {
    margin-bottom: 15px;
    font-family: Cambria, serif;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#loginButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    #loginButton:hover {
        background-color: #45a049;
    }