/*  class = .
    id = #
*/

body {
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
    font-family: Cambria,Georgia,serif; 
    font-size: 40;
    padding-bottom: 0px;
    margin-bottom: 2px;

    /* animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards; */
}

#email {
    text-align: center;
    font-family: Cambria,Georgia,serif;    
    margin: 0px;
    padding-bottom: 4px;

    /* animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-delay: 0s; */
}

#header {
    border-bottom: double;
    width: 80%;
    margin: auto;
    display: none;
}

#linkList {
    margin: auto;
    text-align: center;
    width: 100%;
    height: 35px;
    display: inline;
}

.link-list li{
    display: none;
    font-family: Cambria,Georgia,serif;
    padding-right: 20px;
    padding-left: 20px;
}

.hubLinks {
    margin-top: 8px;
    padding: 0px;
    /*display: inline; */
}

ul {
    padding: 0px;
}

.ActiveTab {
    text-decoration: underline;
}

button {
    color: black;
    text-decoration: none;
    font-size: clamp(0.75rem, -0.4647rem + 4.67vw, 1.875rem);
    border: none;
    font-family: Cambria,Georgia,serif;
    background-color: #f9f9f9;
}

button:hover {
    text-decoration: underline;
}

h3 {
    font-family: Cambria,Georgia,serif;
}

#socialBar {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#socialIcons {
    text-align: center;
}

.social {
    width: 20px;
    height: 20px;
    padding-right: 5px;
    padding-left: 5px;
}

/* Projects Tab */
/* need h5, h6, p/classes set up as needed */

/* .projectContain {
    height: 400px;
    width: fit-content;
    border-style: solid;
    border-width: 2px;
}

.projectContain img .projecIMG {
    width: 150px;
    height: 150px;
    float: left;
}

.projectCard {
    text-align: left;
    font-family: Cambria,Georgia,serif;
} */

/* ABOUT PAGE CSS */



@media only screen and (min-width: 651px) {
    li {
        display: inline;
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media only screen and (max-width: 650px) {
    ul {
        padding: 0px
    }
    li {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

/*-----------------------LINKS---------------------------*/

.hidden {
    display: none;
    width: 90%;
    margin-top: 40px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    border-style: solid;
    border-color: #f9f9f9;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 15px #888888;
    text-align: center;
}

#GitHubLink {
    color: black;
    font-style: normal;
    text-decoration: none;
}

/*-----------------------ABOUT---------------------------*/

.aboutContain {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
}


figure {
    float: right;
    padding: 10px;
    height: auto;
    width: 250px;
    margin-bottom: 175px;
}

figcaption {
    font-family: Cambria,Georgia,serif;
    border-bottom: double;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.aboutME {
    font-family: Cambria,Georgia,serif;   
    text-align: left;
}

/*-----------------------PROJECTS---------------------------*/

.projectContain {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: 400px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    border-bottom: double;
}

.projectContain img .projecIMG {
    width: 150px;
    height: 150px;
    float: left;
}

.projectCard {
    text-align: left;
    font-family: Cambria,Georgia,serif;
    padding-top: 50px;
}

h5 {
    font-family: Cambria,Georgia,serif;
    margin: 0px;
    padding: 0px;
    font-weight: bold;
    font-size: 30px;
}

h6 {
    font-family: Cambria,Georgia,serif;
    margin: 0px;
    padding: 0px;
    font-size: 20px;
}

#ProjectType {
    font-family: Cambria,Georgia,serif;
    text-align: left;
}

#languages {
    font-family: Cambria,Georgia,serif;
    text-align: left;
    font-style: italic;

}

#ProjectDesc {
    font-family: Cambria,Georgia,serif;
    text-align: left;
}

/*-----------------------EDUCATION---------------------------*/

.clear {
    clear: both;
}

.degreeHeader {
    width: 80%; 
    height: auto; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 20px;
}

.degree_contain {
    font-family: Cambria,Georgia,serif;
    margin: auto;
    width: 95%;
    display: flex;
}

#EduSubH {
    text-align: center;
    font-family: Cambria,Georgia,serif;
    font-size: 30px;
}

#EduSubB {
    border-bottom-style: double;
    font-family: Cambria,Georgia,serif;
    width: 95%;
    margin: auto;
}

.degree {
    flex: 1;
}

.degree:first-child {
    margin-right: 20px;
}

#School {
    font-family: Cambria,Georgia,serif;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 2px;
}

#Degree {
    font-family: Cambria,Georgia,serif;
    font-size: 18px;
    margin-bottom: 2px;
    margin-top: 8px;
}

#Major {
    font-family: Cambria,Georgia,serif;
    font-size: 18px;
    margin: 2px;
}

#gpa {
    font-family: Cambria,Georgia,serif;
    font-size: 12px;
    margin: 2px;
}

#collegeDesc {
    text-align: left;
    font-family: Cambria,Georgia,serif;
}

.cContain {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 95%;
    border-bottom: double;
}

#cName {
    font-family: Cambria,Georgia,serif;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
    margin-bottom: 10px;
}

#cSynop {
    font-family: Cambria,Georgia,serif;
    text-align: left;
}

#cDesc {
    font-family: Cambria,Georgia,serif;
    text-align: left;
}

#cDate {
    font-family: Cambria,Georgia,serif;
    text-align: left;
}

#cScore {
    font-family: Cambria,Georgia,serif;
    text-align: left;
}

#degSyn {
    font-family: Cambria,Georgia,serif;
    text-align: left;
}

ul.BCL {
    font-family: Cambria,Georgia,serif;
    list-style-type: square;
    list-style-position: inside;
}

li.BCL {
    text-align: left;
    display: list-item;
}

/*-----------------------RESUME---------------------------*/