{% load static %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        var q = { duration: 2000 }
        $(document).ready(function() {
            $("#header").delay(1000).fadeIn(1000, function() { 
                $("#linkList li").each(function(i) {
                    $(this).delay(100 * i).fadeIn(2000, function() {
                        $("div#About").fadeIn("slow");
                    });
                });
            });
        });
    </script> 
    <script>
        $(document).on("click", 'button', function(){
            $('button').removeClass('ActiveTab');
            $(this).addClass('ActiveTab');
        });
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Portfolio practice</title>
    <div id="header">
        <h1>William Gaechter</h1>
        <p id='email'>will.gaechter@gmail.com</p>
        <div id="socialBar">
            <a id="socialIcons" href="https://github.com/wgaechter" target="_blank"><img class="social" src="{% static 'img/github.png' %}"></a>
            <a id="socialIcons" href="https://www.linkedin.com/in/williamgaechter/" target="_blank"><img class="social" src="{% static 'img/linkedin.png' %}"></a>
            <a id="socialIcons" href="https://twitter.com/willgaechter" target="_blank"><img class="social" src="{% static 'img/twitter.png' %}"></a>
        </div>
    </div>
    <div class="link-list" id='linkList'>
        <ul id="hubLinks">
            <li><button id="About" class='ActiveTab'>About</button></li>
            <li><button id="Projects">Projects</button></li>
            <li><button id='Education'>Education</button></li>
            <li><button id='Resume'>Resume</button></li>
        </ul>
    </div>
</head>

<body>
    <script>
            $(".projectContain").click(function() {
                window.location = $(this).find("a").attr("href")
            })
    </script>
    <div id="About" class="hidden">
        <div class='aboutContain'>
            <figure>
                <img class='headshot' src='{% static "img/headshot.jpg" %}'>
                <figcaption>Rostering Data Specialist <br> Imagine Learning</figcaption>
                <figcaption>Data Analytics and Visualization Certification <br> University of Minnesota</figcaption>
                <figcaption>B.S. Sports Management <br> University of Minnesota</figcaption>
            </figure>
            <div class='aboutME'>
                <h5>To Whom It May Concern</h5>
                <p>My name is William Gaechter; I am an aspiring data scientist and a recent graduate of the Data Analytics and Visualization Bootcamp at the University of Minnesota.  Through this bootcamp and my own self teachings I feel I have the necessary ability to begin my career in the world of data analytics.  I have an extensive portfolio with projects ranging from data collection to website development to present data in an easy and clear manner.  Both my past work experience and my current teachings perfectly fit this role.  All throughout my student work and internships I have been allowed to take on additional responsibilities outside the expected scope of the job.  From taking on inventory management to event management supervisor roles, I have at some point in my career taken on and succeeded on a task you have outlined in the job post.</p>
                <p>I am looking for a team to give me the opportunity to not only demonstrate my abilities and utilize my extensive experience, but allow me to grow and continue developing my analytic skills.  My work with the Miami Dolphins, NFL Superbowl Operations teams, University of South Florida Athletics, University of Minnesota Football, and TCF Bank Stadium has prepared me to not only take upon leadership roles, but more importantly has taught me how to be teachable. As I make the career change from football equipment to data analytics, I understand there is a lot for me to learn and I have been doing everything I can to continue my own development. I feel the next step for me is to begin earning real world expertise and this position is the perfect opportunity to do just that.</p>
                <p>Gotta Rewrite this now that i have a job for a general about me post</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vestibulum consequat ipsum, non suscipit leo bibendum at. Etiam interdum, dolor eget ultricies dignissim, odio metus ornare odio, ut pharetra sem lorem non massa. Sed odio est, volutpat eget sapien vitae, dapibus vulputate felis. Morbi at venenatis nisl. Mauris ultrices, lacus eget varius accumsan, lorem diam varius ante, a finibus dolor ipsum vel metus. In quis faucibus elit. Praesent id eros commodo, mattis lacus at, tincidunt erat. In lobortis massa vitae pulvinar vulputate. Donec pretium sit amet eros eget fermentum. Sed iaculis eu leo eget volutpat. Cras vitae aliquet neque.

                    Vivamus ac odio quis elit dignissim vehicula. Praesent risus metus, porttitor et magna sed, finibus maximus magna. Duis porta arcu at odio tempus, eu eleifend tortor dapibus. Sed lacus urna, efficitur eu faucibus nec, hendrerit eu mauris. Maecenas vestibulum quam vel tortor laoreet, vitae malesuada odio interdum. In ullamcorper ante augue, in dapibus lacus mollis et. Aenean ac diam sem. Cras gravida ullamcorper lectus, id convallis turpis sagittis vel. In ut quam ultricies, pharetra tellus ut, ullamcorper augue.
                    
                    Integer ac dolor non mi porttitor lacinia. Maecenas ac augue sit amet nulla aliquam vehicula. Nulla facilisis fringilla mi, at posuere odio interdum suscipit. Phasellus eu mollis orci. Sed finibus scelerisque diam, sit amet tincidunt velit. Pellentesque a elementum nisi. Praesent convallis rutrum sollicitudin. Cras mollis velit eu egestas suscipit. Morbi libero dolor, porta et varius vel, gravida sit amet eros. Pellentesque sit amet dictum sapien. Ut ut enim consectetur dui bibendum tempor.
                    
                    Praesent est purus, pretium sit amet mollis in, tempor vitae libero. Nullam porttitor nibh eros, gravida maximus eros lacinia at. Aliquam erat volutpat. In leo urna, iaculis et vestibulum ut, scelerisque sit amet lectus. Cras nec dapibus lorem, tincidunt auctor augue. Aenean imperdiet odio nec luctus varius. Phasellus cursus velit sed bibendum sollicitudin. Integer consectetur, magna non ultricies efficitur, turpis eros convallis urna, sit amet scelerisque quam purus ac dui. Nulla eget rhoncus neque.
                    
                    Proin non consequat nisl. Mauris eu posuere enim. Nullam pellentesque interdum tortor vel posuere. Donec ut eros vitae dui varius venenatis. Pellentesque tincidunt nisl risus, et accumsan elit tincidunt nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed efficitur venenatis pharetra. In quis turpis dignissim, lobortis nulla vitae, pulvinar massa. Curabitur ipsum eros, tempor id justo vel, tristique ullamcorper ligula. Sed ante turpis, placerat sit amet tortor et, egestas eleifend libero. Phasellus pellentesque sagittis dictum. Nulla pharetra, ex quis ultrices volutpat, purus mauris ultrices odio, quis bibendum magna tortor ac nulla. Vivamus elementum iaculis ante, vel auctor arcu accumsan eu. Phasellus leo nisi, blandit sed arcu at, volutpat commodo ante.
                </p>
            </div>
        </div>
    </div>
    <div id="Projects" class='hidden'>
    {% for p in projects %}
        <a id='GitHubLink' href='{{ p.link }}' target="_blank">
        <div class='projectContain'>    
            <img class='projectIMG' src='{% static p.img %}' style="height: 350px; width: 350px; float: left; padding: 20px;">
            <div class='projectCard'>
                <h5>{{ p.title }}</h5>
                <h6>{{ p.sub_title }}</h6>
                <p id='ProjectType'>{{ p.project_type }}</p>
                <p id='ProjectDesc'>{{ p.description }}</p>
                <p id='languages'>{{ p.languages }}</p>
            </div>
        </div>
        </a>
    {% endfor %}
    </div>
    <div id='Education' class='hidden'>
        <b id="EduSubH">Collegiate Education</b>
        <div id="EduSubB"></div>
        <img src='{% static "img/UofMN.png" %}' class="degreeHeader">
        <div id="degree_1">
            <p>College of Education and Human Development</p>
            <p>Bachelor of Science</p>
            <p>Sports Management</p>
        </div>
        <div id="degree_2">
            <P>College of Continuing & Professional Studies</P>
            <p>Professional Certificate</p>
            <P>Data Analytics and Visualization</P>
        </div>
        <br class="clear">
    </div>
    <div id='Education' class='hidden'>
        <b id="EduSubH">Industry Certifications</b>
        <div id="EduSubB"></div>  
        {% for c in certifications %}
            <div class="cContain"> 
                <p id=cName>{{ c.org }} - {{ c.cert_name }}</p>
                <p id=cSynop>{{ c.synop }}</p>
                <p id=cDate>{{ c.cert_month }}, {{ c.cert_year }}</p>
            </div>
        {% endfor %}
    </div>
    <div id='Resume' class='hidden'>
        <embed src='{% static "pdf/resume.pdf"%}' width="98%" height="98%" style="margin:1%">
    </div>

    <script>

$("button").click(function(tab) {
    var buttonID = tab.target.id;
    var buttonIDstring = buttonID.toString();
    var classSelect = "#";
    var buttonIDfinder = classSelect.concat(buttonIDstring);
    console.log(buttonIDfinder);
    var newDiv = $('body').find("div" + buttonIDfinder);
    console.log(newDiv.attr('class'));

    $('.hidden').each(function(i) {
        if ( $(this).css('display') == 'block' ) {
            var oldDiv = $(this);
            console.log(oldDiv.attr('id'));
            console.log(newDiv.attr('id'));
            if (oldDiv.attr('id') == newDiv.attr('id')) {
                return console.log("Already Showing");
            } else {
                console.log("Changing with Fade::")
                console.log("old DIV id: " + oldDiv.attr('id'));
                console.log("new DIV id: " + newDiv.attr('id'));
                oldDiv.fadeOut("slow").promise().done(function() {
                    newDiv.fadeIn("slow");
                });
            };
        };
    });
});
    </script>
</body> 