{% load static %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        var q = { duration: 2000 }
        $(document).ready(function() {
            $("#header").delay(1000).fadeIn(1000, function() { 
                $("#linkList li").each(function(i) {
                    $(this).delay(100 * i).fadeIn(2000, function() {
                        $("div#About").fadeIn("slow");
                    });
                });
            });
        });
    </script> 
    <script>
        $(document).on("click", 'button', function(){
            $('button').removeClass('ActiveTab');
            $(this).addClass('ActiveTab');
        });
    </script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Portfolio practice</title>
    <div id="header">
        <h1>William Gaechter</h1>
        <p id='email'>will.gaechter@gmail.com</p>
        <div id="socialBar">
            <a id="socialIcons" href="https://github.com/wgaechter" target="_blank"><img class="social" src="{% static 'img/github.png' %}"></a>
            <a id="socialIcons" href="https://www.linkedin.com/in/williamgaechter/" target="_blank"><img class="social" src="{% static 'img/linkedin.png' %}"></a>
            <a id="socialIcons" href="https://twitter.com/willgaechter" target="_blank"><img class="social" src="{% static 'img/twitter.png' %}"></a>
        </div>
    </div>
    <div class="link-list" id='linkList'>
        <ul id="hubLinks">
            <li><button id="About" class='ActiveTab'>About</button></li>
            <li><button id="Projects">Projects</button></li>
            <li><button id='Education'>Education</button></li>
            <li><button id='Resume'>Resume</button></li>
        </ul>
    </div>
</head>

<body>
    <script>
            $(".projectContain").click(function() {
                window.location = $(this).find("a").attr("href")
            })
    </script>
    <div id="About" class="hidden">
        <div class='aboutContain'>
                <figure>
                    <img class='headshot' src='{% static "img/headshot.jpg" %}'>
                    <figcaption>Rostering Data Specialist <br> Imagine Learning Software</figcaption>
                    <figcaption>Data Analytics and Visualization Certification <br> University of Minnesota</figcaption>
                    <figcaption>B.S. Sports Management <br> University of Minnesota</figcaption>
                </figure>
            <div class='aboutME'>
                <h5>To Whom It May Concern</h5>
                <p>
                    My Name is William Gaechter; I am an aspiring developer and analyst currently working on my skills and development within the tech and information world.  I have developed this portfolio website full stack from scratch to help demonstrate my abilities to learn and apply that learning while showcasing my other projects and certifications.  This site was created with a Django – a Python based web framework, and is hosted through Amazon Web Services.  No HTML templates were used and all animations and styles were written myself utilizing JavaScript and jQuery.
                </p>
                <p>
                    I am currently employed as a Rostering Data Specialist at Imagine Learning Software.  Imagine Learning is one of the largest remote learning software companies in the nation.  My role within the company involves extensive knowledge of the software to ensure swift account creation for school across the country seeking help with bulk rostering for their purchased learning management system.  Effective and extensive data validation is the main extent of the roll, ensuring all sensitive data is handed safely and correctly.  Within my position I have been asked to undertake additional responsibilities and tasks for projects outside of my division, as well as being trusted with additional production side tools to help expedite my daily work.
                </p>
                <p>
                    I have spent my free time working on professional certifications from across the industry.  I am currently studying and working toward my AWS Cloud Practitioner certification, as well as an IBM Certified Database Associate certification.  I am always looking to learn new languages and disciplines as I expand my repertoire in programming and information technology.  As I continue my career change from the sports world and into the tech industry, I understand there is a lot for me to learn and I have been doing everything I can to continue my own development.
                </p>
            </div>
            <div style="clear: both;"></div>
        </div>
    </div>
    <div id="Projects" class='hidden'>
    {% for p in projects %}
        <a id='GitHubLink' href='{{ p.link }}' target="_blank">
        <div class='projectContain'>    
            <img class='projectIMG' src='{% static p.img %}' style="height: 350px; width: 350px; float: left; padding: 20px;">
            <div class='projectCard'>
                <h5>{{ p.title }}</h5>
                <h6>{{ p.sub_title }}</h6>
                <p id='ProjectType'>{{ p.project_type }}</p>
                <p id='ProjectDesc'>{{ p.description }}</p>
                <p id='languages'>{{ p.languages }}</p>
            </div>
        </div>
        </a>
    {% endfor %}
    </div>
    <div id='Education' class='hidden'>
        <b id="EduSubH">Collegiate Education</b>
        <div id="EduSubB"></div>
        <img src='{% static "img/UofMN.png" %}' class="degreeHeader">
        <div class=degree_contain>   
            <div class="degree">
                <p id="School">College of Education and Human Development</p>
                <p id="Degree">Bachelor of Science</p>
                <p id="Major">Sports Management</p>
                <p id="gpa">3.1 GPA</p>
                <p id="collegeDesc">    Focused my studies on the relationship between sporting fans and their loyalties to a particular club or team.  Loyal fans are more likely to purchase season tickets, merchandise, and create a marketable product even if the sporting product is not the most competitive.  Pin-pointing the factors that create a loyal fan can drastically affect a brand strategy to cultivate that passion around your club or franchise.  I have written a literature review outlining those factors at both a domestic and international scale.  That review is available upon request.</p>
                <p id="collegeDesc"> 
                        While my degree may not be directly in the field of Computer Science or Development, the skills I gained during my time at the University of Minnesota have been imperative for me to flourish in my new field.  The learning and interpersonal skills I gained while an undergrad has allowed me to take up so many new credentials and competencies within the tech and information world.
                </p>
            </div>
            <div class="degree">
                <P id="School">College of Continuing & Professional Studies</P>
                <p id="Degree">Professional Certificate</p>
                <P id="Major">Data Analytics and Visualization</P>
                <p id="gpa">4.0 GPA</p>
                <p id="degSyn">A 24-week intensive program focused on gaining technical skills
                    in programs including:
                </p>
                <ul class="BCL">
                    <li class="BCL">Excel/VBA</li>
                    <li class="BCL">Python (Jupyter Notebook, Pandas, MatPlotLib)</li>
                    <li class="BCL">SQL (PostGRE, SQLite, PGAdmin)</li>
                    <li class="BCL">Tableau</li>
                    <li class="BCL">Machine Learning</li>
                </ul>
                <p id="collegeDesc"> This bootcamp was the perfect stepping stone for myself to inter into the industry with the correct background and knoledge I needed to suceed in my role.  It tought me the basics of multiple disciplines to allow me to find things I found passion in.  I left the bootcamp with networking connections and tangible projects that demonstrated both my technical as well ad interpersonal skills.</p>
            </div>
        </div>    
    <br class="clear">
    </div>
    <div id='Education' class='hidden'>
        <b id="EduSubH">Industry Certifications</b>
        <div id="EduSubB"></div>  
        {% for c in certifications %}
            <div class="cContain"> 
                <p id=cName>{{ c.org }} - {{ c.cert_name }}</p>
                <p id=cSynop>{{ c.synop }}</p>
                <p id=cDesc>{{ c.desc }}</p>
                <p id=cDate>{{ c.cert_month }}, {{ c.cert_year }}</p>
                <p id=cScore>Test Score: {{ c.test_score }}</p>
            </div>
        {% endfor %}
    </div>
    <div id='Resume' class='hidden'>
        <embed src='{% static "pdf/resume.pdf"%}' width="98%" height="98%" style="margin:1%">
    </div>

    <script>

$("button").click(function(tab) {
    var buttonID = tab.target.id;
    var buttonIDstring = buttonID.toString();
    var classSelect = "#";
    var buttonIDfinder = classSelect.concat(buttonIDstring);
    console.log(buttonIDfinder);
    var newDiv = $('body').find("div" + buttonIDfinder);
    console.log(newDiv.attr('class'));

    $('.hidden').each(function(i) {
        if ( $(this).css('display') == 'block' ) {
            var oldDiv = $(this);
            console.log(oldDiv.attr('id'));
            console.log(newDiv.attr('id'));
            if (oldDiv.attr('id') == newDiv.attr('id')) {
                return console.log("Already Showing");
            } else {
                console.log("Changing with Fade::")
                console.log("old DIV id: " + oldDiv.attr('id'));
                console.log("new DIV id: " + newDiv.attr('id'));
                oldDiv.fadeOut("slow").promise().done(function() {
                    newDiv.fadeIn("slow");
                });
            };
        };
    });
});
    </script>
</body> 