@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@{
    //Welcome bar with a basic welcome and overview

    //Scroll down to the article tiles with a good templated one that matches the vibe
    ////https://codepen.io/marhdev/pen/bdXeqQ
    ////https://codepen.io/tterb/pen/KoNzXw

    //On click of article, get the rest of the info from the database and generate the html to glide up on screen
    ////Article setup programatically based on text size/amount of paragraphs
    ////3 Images per, one Thumbnail and 2 content worthy, one should be stock-like flavor

    //Return button wil glide the article back down and return to the tiles
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>