@page
@model PortfolioWebsite.Pages.ResumeModel
@{
    ViewData["Title"] = "Resume";
}


<!--Technical Skills header-->
<div style='margin-top:0in;margin-right:0in;margin-bottom:.75pt;margin-left:-.25pt;text-indent:-.5pt;line-height:103%;font-size:15px;font-family:"Cambria",serif;color:black;border:none;border-top:solid windowtext 1.0pt;padding:1.0pt 0in 0in 0in;'>
    <h1 style='margin-top:2.8pt;margin-right:0in;margin-bottom:.0001pt;margin-left:.5pt;text-indent:0in;font-size:15px;font-family:"Cambria",serif;color:black;margin:0in;border:none;padding:0in;'><span style="font-size:13px;line-height:107%;">TECHNICAL SKILLS</span></h1>
</div>
<!--Linebreak-->
<p class="Linebreak">&nbsp;</p>
<!--Programming Languages list header-->
<p class="TechnicalSkills_ListHeader"><strong><span>PROGRAMMING LANGUAGES</span></strong></p>
<!--Programming Language list-->
<ul class="Resume_List">
    <li>
        <strong><span class="TechnicalSkills_Listpoint">Python</span></strong>
        <span class="TechnicalSkills_Listpoint">&nbsp;&ndash; 5+ years of experience in script writing, data analytics, and app development</span>
    </li>
    <li>
        <strong><span class="TechnicalSkills_Listpoint">SQL</span></strong>
        <span class="TechnicalSkills_Listpoint">&nbsp;&ndash; 5+ years of experience in query writing and scripting</span>
    </li>
    <li>
        <strong><span class="TechnicalSkills_Listpoint">C#</span></strong>
        <span class="TechnicalSkills_Listpoint">&nbsp;&ndash; 2 years of experience in writing console and WinForms applications for internal team use</span>
    </li>
    <li>
        <strong><span class="TechnicalSkills_Listpoint">PowerShell</span></strong>
        <span class="TechnicalSkills_Listpoint">&nbsp;&ndash; 2 years of experience in writing scripts for daily task automation</span>
    </li>
</ul>

<!--Linebreak-->
<p class="Linebreak">&nbsp;</p>
<!--Software and Skills list header-->
<p class="TechnicalSkills_ListHeader"><strong><span>SOFTWARE AND SERVICES</span></strong></p>
<!--Software and Skills List-->
<ul class="Resume_List">
    <li>
        <strong><span class="TechnicalSkills_Listpoint">AWS</span></strong>
        <span class="TechnicalSkills_Listpoint">&nbsp;&ndash; 2 years of experience launching and maintaining multiple types of AWS apps and services</span>
    </li>
    <li>
        <strong><span class="TechnicalSkills_Listpoint">GitHub</span></strong>
        <span class="TechnicalSkills_Listpoint">&nbsp;&ndash; 5+ years of experience working with team and personal projects</span>
    </li>
    <li>
        <strong><span class="TechnicalSkills_Listpoint">PowerBI</span></strong>
        <span class="TechnicalSkills_Listpoint">&nbsp;&ndash; 2+ years of experience developing dashboards and visualizations</span>
    </li>
    <li>
        <strong><span class="TechnicalSkills_Listpoint">Excel</span></strong>
        <span class="TechnicalSkills_Listpoint">&nbsp;&ndash; 5+ years of experience with knowledge of advanced formulas and VBA macros</span>
    </li>
</ul>

<!---------------------------------------------------------------------------------------------------------->
<!--EXPERIENCE SECTION-->
<!---------------------------------------------------------------------------------------------------------->
<!--Seperator Line-->
<p style='margin-top:0in;margin-right:0in;margin-bottom:.75pt;margin-left:0in;text-indent:0in;line-height:103%;font-size:15px;font-family:"Cambria",serif;color:black;'><span style="font-size:13px;line-height:103%;">&nbsp;</span></p>
<!--EXPERIENCE Header-->
<div style='margin-top:0in;margin-right:0in;margin-bottom:.75pt;margin-left:-.25pt;text-indent:-.5pt;line-height:103%;font-size:15px;font-family:"Cambria",serif;color:black;border:none;border-top:solid windowtext 1.0pt;padding:1.0pt 0in 0in 0in;'>
    <h1 style='margin-top:2.8pt;margin-right:0in;margin-bottom:.0001pt;margin-left:.5pt;text-indent:0in;font-size:15px;font-family:"Cambria",serif;color:black;margin:0in;border:none;padding:0in;'><span style="font-size:13px;line-height:107%;">EXPERIENCE&nbsp;</span></h1>
</div>
<!---------------------------------------------------------------------------------------------------------->
<!--Imagine Learning-->
<h2 class="jobHeaderContainer" id="ImagineLearning">
    <strong>
        <span class="jobYears">2021-2024</span>
        <span class="jobCompanyName">IMAGINE LEARNING SOFTWARE</span>
        <span class="jobLocation">Remote</span>
    </strong>
</h2>
<!--Imagine Learning: Job Title-->
<span class="jobTitle">Data Analyst &amp; Technical Services Engineer</span>
<!--Imagine Learning: Job Description-->
<ul class="jobDescription">
    <li><span>Validated student and educator data to ensure faultless creation of accounts within all Imagine Learning core and supplemental products</span></li>
    <li><span>Worked on multiple python and C# development projects for internal tools designed to increase quality of life and efficiency for multiple teams within the customer success department</span></li>
    <li><span>Established new automated systems and procedures for daily SFTP customers, coordinating teams internationally to ensure all school districts were successfully rostered with user accounts and course enrollments each morning without issue</span></li>
    <li><span>Lead and developed training programs for multiple product rostering systems and internal data security protocols</span></li>
</ul>
<!---------------------------------------------------------------------------------------------------------->
<!--Superbowl 54-->
<h2 class="jobHeaderContainer" id="Superbowl_54">
    <strong>
        <span class="jobYears">2020</span>
        <span class="jobCompanyName">SUPER BOWL LIV FOOTBALL OPERATIONS</span>
        <span class="jobLocation">Miami, FL</span>
    </strong>
</h2>
<!--Superbowl 54: Job Title-->
<span class="jobTitle">Football Operations Assistant – Kansas City Chiefs</span>
<!--Linebreak-->
<p class="Linebreak">&nbsp;</p>
<!---------------------------------------------------------------------------------------------------------->
<!--Miami Dolphins-->
<h2 class="jobHeaderContainer" id="MiamiDolphins">
    <strong>
        <span class="jobYears">2019-2020</span>
        <span class="jobCompanyName">MIAMI DOLPHINS FOOTBALL</span>
        <span class="jobLocation">Davie, FL</span>
    </strong>
</h2>
<!--Miami Dolphins: Job Title-->
<span class="jobTitle">Equipment Staff Assistant</span>
<!--Linebreak-->
<p class="Linebreak">&nbsp;</p>
<!---------------------------------------------------------------------------------------------------------->
<!--USF-->
<h2 class="jobHeaderContainer" id="USF">
    <strong>
        <span class="jobYears">2018-2019</span>
        <span class="jobCompanyName">UNIVERSITY OF SOUTH FLORIDA FOOTBALL</span>
        <span class="jobLocation">Tampa, FL</span>
    </strong>
</h2>
<!--USF: Job Title-->
<span class="jobTitle">Equipment Intern</span>
<!--Linebreak-->
<p class="Linebreak">&nbsp;</p>
<!---------------------------------------------------------------------------------------------------------->
<!--Superbowl 52-->
<h2 class="jobHeaderContainer" id="Superbowl_52">
    <strong>
        <span class="jobYears">2018</span>
        <span class="jobCompanyName">SUPER BOWL LII FOOTBALL OPERATIONS</span>
        <span class="jobLocation">Minneapolis, MN</span>
    </strong>
</h2>
<!--Superbowl 52: Job Title-->
<span class="jobTitle">Volunteer Ball Handler – NFL Operations</span>
<!---------------------------------------------------------------------------------------------------------->
<!--EDU Section-->
<div style='margin-top:0in;margin-right:0in;margin-bottom:.75pt;margin-left:-.25pt;text-indent:-.5pt;line-height:103%;font-size:15px;font-family:"Cambria",serif;color:black;border:none;border-top:solid windowtext 1.0pt;padding:1.0pt 0in 0in 0in;'>
    <h1 style='margin-top:2.8pt;margin-right:0in;margin-bottom:0in;margin-left:0in;text-indent:0in;font-size:15px;font-family:"Cambria",serif;color:black;border:none;padding:0in;'><span style="font-size:13px;line-height:107%;">EDUCATION &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span></h1>
</div>
<!---------------------------------------------------------------------------------------------------------->
<!--Minnesota: Bootcamp-->
<h2 class="jobHeaderContainer" id="UMN_Bootcamp">
    <strong>
        <span class="eduYears">2020-2021</span>
        <span class="eduSchoolName">UNIVERSITY OF MINNESOTA – TWIN CITIES</span>
        <span class="eduLocation">Minneapolis, MN</span>
    </strong>
</h2>
<!--Imagine Learning: Job Title-->
<strong>
    <span class="eduProgram">Data Visualization and Analytics Professional Certificate</span>
</strong>

<!--Imagine Learning: Job Description-->
<ul class="eduDescription">
    <li><span>A 24-week intensive program focused on data science, mastering techniques in data collection, cleaning, database querying, statistical analysis, and data visualization and presentation</span></li>
</ul>
<!--Imagine Learning: Graduation-->
<span class="eduGrad">Graduated Spring 2021 – 4.0 GPA</span>
<!---------------------------------------------------------------------------------------------------------->
<!--Minnesota: Undergrad-->
<h2 class="jobHeaderContainer" id="UMN_Undergrad">
    <strong>
        <span class="eduYears">2014-2018</span>
        <span class="eduSchoolName">UNIVERSITY OF MINNESOTA – TWIN CITIES</span>
        <span class="eduLocation">Minneapolis, MN</span>
    </strong>
</h2>
<!--Imagine Learning: Job Title-->
<strong>
    <span class="eduProgram">Bachelor of Science in Sport Management </span>
</strong>
<!--Imagine Learning: Job Description-->
<ul class="eduDescription">
    <li><span>Focused studies on fan loyalty and its development for professional sporting clubs</span></li>
</ul>
<!--Imagine Learning: Graduation-->
<span class="eduGrad">Graduated Spring 2018 – 3.2 GPA</span>
<!---------------------------------------------------------------------------------------------------------->